@import '../variables';

.sort {
  position: relative;
  &__label {
    display: flex;
    align-items: center;

    svg {
      margin-right: 8px;
    }

    b {
      margin-right: 8px;
      padding-left: 10px;
    }

    span {
      padding-right: 10px;
      color: $orange;
      border-bottom: 1px dashed $orange;
      cursor: pointer;
    }
  }

  &__arrow{
    width: 10px;
    height: 10px;
    background-color:white;

    &__up{
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 10px solid black;
    }
    &__down{
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 10px solid black;
    }
  }


  &__popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 160px;

    ul {
      overflow: hidden;
      li {
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(254, 95, 30, 0.05);
        }

        &.active {
          font-weight: bold;
          color: $orange;
        }
      }
    }
  }
}
